nav.navbar.navbar-light.navbar-fixed-top
    button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#navBarCollapse")
    #navBarCollapse.collapse.navbar-toggleable-xs
        ul.nav.navbar-nav
            li(data-menuanchor="hello").nav-item.active
                a.nav-link(href="hello") Hello!
            li(data-menuanchor="work").nav-item
                a.nav-link(href="work") Work
