// - Vendors
@import 'vendors/bootstrap/bootstrap';
@import 'vendors/jquery.fullPage';
@import 'vendors/icomoon';
@import 'vendors/bourbon/settings/prefixer';
@import 'vendors/bourbon/addons/prefixer';
@import 'vendors/bourbon/css3/transform';
@import 'vendors/bourbon/css3/transition';
//@import 'vendors/mfizz';
// Mixins

@import 'partials/animate';
@import 'partials/mixins';

@import 'partials/timeline';
@import 'partials/header-footer';
@import 'partials/slides';
@import 'partials/menu';