html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        title= title || 'Leigh Johnson | Full Stack Web Developer'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

        //- Global styles
        link(href='https://fonts.googleapis.com/css?family=Raleway:400,700|Bitter:400,700' rel='stylesheet' type='text/css')
        link(href="/styles/site.css", rel="stylesheet")
        //- Include template-specific stylesheets by extending the css block
        block css

        //- Add any other template-specific HEAD tags by extending the head block
        block head
    body

        #header
        block menu
            include partials/menu
        block content
            include slides-test
        //block footer
                #footer
                    p I keep current with new technology, to give you an extra edge over competition. For example, this site was build with Bootstrap 4!
    
    script(src='/js/bundle.js')
    script(src="http://10.11.12.8:1337/livereload.js")
    //script(src="http://localhost:1337/livereload.js")
    block js

    
