#fullpage
    .section.container-fluid#slide-hi(data-anchor='hello')
        .row
            .col-lg-3.col-lg-offset-1.col-md-4.col-xs-6.col-xs-offset-3
                h2 Hi! My name is
                h1.display-1 #[span.purple L]eigh#[img(src="/images/logo-v2.png")] 
                h1.display-1 #[span.backward.purple L]ohnson
                p I'm a freelancer based in Raleigh, NC, currently working as a Full Stack Web Developer #[a(href="http://www.funcom.com/") @Funcom].

            .col-lg-6.text-center.col-xs-12
                h1 I'm here to help!
                h6 Technical + Business Intelligence
                h6 Quick, Custom Solutions for Web Problems
                h3.text-center I dive straight into a variety of stacks.
                .row
                    ul.col-xs-6.col-lg-offset-1.text-center.list-unstyled.col-md-6.col-lg-5: #[strong Back-end & Automation]
                        li NodeJS, Express, Socket.io
                        li Python, Ruby, PHP
                        li Grunt, Puppet
                        li REST & SOAP
                    ul.col-xs-6.text-center.list-unstyled.col-md-6.col-lg-5: #[strong Front-end & Graphic Design]
                        li AngularJS, jQuery
                        li SASS, LESS, Template Engines
                        li Responsive Frameworks
                        li Adobe Creative Suite 
        .row 
            .col-lg-10.col-lg-offset-1.hidden-sm-down.col-md-12
                include partials/timeline

    .section.container-fluid#slide-work(data-anchor='work')
        .slide(data-anchor='case-study-1')
            h1 Case Study: Value Communication
            p Conversion increased by xx% by replacing a text-heavy advertisement design with a single image.
            img
        .slide(data-anchor='a-b-testing')
        .slide(data-anchor='custom-crm')
    .section(data-anchor='human-readable')
        .slide
        .slide
        .slide
    .section(data-anchor='workflow-automation')
