$teal: #3FB8AF;
$blue: #7BAABE;
$purple: #8275A0;
body{
  @include linear-gradient(90deg, $blue 5%, $teal 99%);
}

html{
  @media(max-width: 34em){
    font-size: 12.5px;
  }
  @media(min-width: 75em){
    font-size: 16px;
  }
}
h2, h3, h4{
  font-family: $font-family-serif;
}
a{
  font-weight: 800;
}

.navbar-toggler{
  line-height: 1em;
  font-size: 2.5em;
  padding: 0px;
}
h1{
font-family: 'Bitter';
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);}
.purple{
    color: $purple;
}

.hide{
  visibility: hidden;
  display: none;
}
.show{
  display: block;
}
.backward{
     display: inline-block;
    -moz-transform: scale(-1, 1); 
    -webkit-transform: scale(-1, 1);  
    transform: scale(-1, 1); 
}
#slide-hi{
  #logo{
    width: 1.8em;
    height: auto;
  }
}


.navbar button{
  color: #fff !important;
}

#slide-work{
  .overlap{
    @include transition(all 0.5s ease-in-out);
    opacity: 0.2;
    @include margin(null -1em null null);
  }
  #thepark-crm{
    @include transform(translateY(20px));
  }
  .overlap-first{
    opacity: 0.2;
    @include transform-style(preserve-3d);
    @include transform(rotateX(-30deg) rotateY(20deg));

    //@include margin(null -2em null -2em);
  }
  .overlap-last{
    opacity: 0.2;
    @include transform-style(preserve-3d);
    @include transform(rotateX(30deg) rotateY(20deg));

    //@include margin(null -2em null -2em);
      }
  .overlap-middle{
    margin-top: 1em;
  }
  .overlap.active{
    @include transition(all 0.5s ease-in-out);
    @include transform(scale(1.65) translateY(50px));
    img{
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
    opacity: 1;
    z-index: 10;
  }
  .fp-controlArrow{
    @media(max-width: 45rem){
      top: 83%;
    }
    color: #fff;
    font-size: 5rem;
    top: 79%;
    margin: 0;
    z-index: 4;
  }
  .fp-controlArrow.fp-prev{
    left: 0px;
    border: none;
    &:before{
        content: "\e906";
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;}
  }
  .fp-controlArrow.fp-next{
    right: 1em;
    border: none;

    &:before{
        content: "\e905";
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;}
  }
  #next-container{
    z-index: 6;
    top: 81%;
    position: absolute;
    left: 50%;
    @media(max-width: 45rem){
      top: 85%;
    }

    .btn.btn-primary{
      font-size: 2em;
    }
  }
  #next-relative{
    position: relative;
    left: -50%;
  }
}

.navbar-sub .active > .nav-link{
  color: darken($purple, 10%) !important;
}

.navbar .container{
  @media(max-width: 48em){
    max-width: 100%;
  }
}