$timeline-debug:                        false;


$timeline-h-color-bg:                   #fff;
$timeline-h-color-main:                 $purple;

$timeline-h-color-line:                 $timeline-h-color-main;
$timeline-h-color-marker-border:        $timeline-h-color-main;
$timeline-h-color-marker-font:          $timeline-h-color-main;

$timeline-h-color-marker-bg--active:    $timeline-h-color-main;
$timeline-h-color-marker-font--active:  $timeline-h-color-bg;

$timeline-h-color-marker-bg:            $timeline-h-color-bg;
$timeline-h-color-marker-boxShadow:     $timeline-h-color-bg;

$timeline-step-label-color:             #fff;
$timeline-h-size-step:                  50px;
$timeline-h-size-line:                  2px;
$timeline-h-size-border:                4px;
$timeline-h-size-label:                 auto;
$timeline-h-size-boxShadow:             10px;
$timeline-h-title-distance:             40px;
$timeline-h-title-size-font:            1em;
$timeline-h-label-distance:             10 + ($timeline-h-size-step/2) + $timeline-h-size-boxShadow;


$timeline-h-summary-size-step:          12px;
$timeline-h-summary-size-border:        2px;
$timeline-h-summary-size-line:          2px;
$timeline-h-summary-size-label:         auto;
$timeline-h-summary-size-boxShadow:     3px;
$timeline-h-summary-title-distance:     10px;
$timeline-h-summary-title-size-font:    8px;
$timeline-h-summary-label-distance:     10 + ($timeline-h-summary-size-step/2) + $timeline-h-summary-size-boxShadow;



.timeline {
  margin: 15em 0 0 0;
  padding: 0;
  border-top: $timeline-h-size-line solid $timeline-h-color-line;
  list-style: none;
}

.timeline-step {

  float: left;
  width: 25%;
  padding-top: 30px;
  
  position: relative;

@if ($timeline-debug) {
  background: lightgreen;
  outline: 2px solid red;
}

  &:first-of-type,
  &:last-of-type {
    &:before {

      content: "";
      width: 50%;
      height: 100%;

      background: transparent;

      position: absolute;
        top: -$timeline-h-size-line;
        left: 0;

@if ($timeline-debug) {
  background: green;
  outline: 4px solid orange;
}
    }
  }

  &:last-of-type:before {
    left: 50%;
  }
.timeline-step-label.active {
      //display: block;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      height: auto;
      padding: 5px 10px;

      font-size: 1em;
      border-width: 1px;

      bottom: 100%;

      &:before,
      &:after {
        display: block;
      }
    }
  &:hover {
    .timeline-step-label{
      //display: block;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      height: auto;
      padding: 5px 10px;

      font-size: 1em;
      border-width: 1px;

      bottom: 100%;

      &:before,
      &:after {
        display: block;
      }
    }
  }
}

.timeline-step-label {
  //display: none;
  text-align: left;
  color: $timeline-step-label-color;
  opacity: 0;
  height: 0;
  padding: 0;
  font-size: 0;
  border-width: 0;
  -webkit-transform: rotate(30deg);

  width: $timeline-h-size-label;
  margin: 0 0 $timeline-h-label-distance 0;
  
  border-style: solid;
  border-color: $timeline-h-color-main;
  
  background: $purple;

  font-weight: normal;
  cursor: pointer;

  position: absolute;
  left: 0;
  right: 0;
    bottom: 0;

  transition: bottom 0.1s ease-in-out,
              opacity 0.1s ease-in-out,
              -webkit-transform 0.1s ease-in-out;

  &:before,
  &:after {
    display: none;

    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    pointer-events: none;

    position: absolute;
    top: 100%;
    left: 50%;
  }

  &:before {
    border-top-color: $timeline-h-color-main;
    border-width: 8px;
    margin-left: -8px;
  }
  
  &:after {
    border-top-color: $timeline-h-color-bg;
    border-width: 6px;
    margin-left: -6px;
  }
  
}

.timeline-step-content {
  display: block;
  //overflow: hidden;
  text-align: center;
  //white-space: nowrap;
  //text-overflow: ellipsis;
}

.timeline-step-title {
  display: block;
  width: 100%;
  padding: $timeline-h-title-distance 0 0;
  
  font-size: $timeline-h-title-size-font;
  text-align: center;
  
  position: absolute;
    top: 0;
}

.timeline-step-marker {
  cursor: pointer;
  width: $timeline-h-size-step;
  height: $timeline-h-size-step;
  margin-left: -$timeline-h-size-step/2;
  
  background: $timeline-h-color-marker-bg;
  border: $timeline-h-size-border solid $timeline-h-color-marker-border;
  border-radius: 50%;
  box-shadow: 0 0 0 $timeline-h-size-boxShadow $timeline-h-color-marker-boxShadow;

  text-align: center;
  line-height: $timeline-h-size-step - 10;
  color: $timeline-h-color-marker-font;
  font-size: 1.9em;
  font-style: normal;
  
  position: absolute;
    top: -($timeline-h-size-step/2)-($timeline-h-size-line/2);
    left: 50%;

  .done & {
    background: $timeline-h-color-marker-bg--active;
    color: $timeline-h-color-marker-font--active;
  }
  &:hover{
    background: $timeline-h-color-marker-bg--active;
    color: $timeline-h-color-marker-font--active;
  }
}

.timeline-step-radio {
  display: none;

  /**
   * not needed for now,
   * because markers won't be clicked in horz version
   */
  // &:checked {
  //   & + label {
  //     opacity: 1;
  //   }

  //   & ~ .timeline-step-marker {
  //     background: $timeline-h-color-marker-bg--active;
  //     color: $timeline-h-color-marker-font--active;
  //   }
  // }
}



.timeline--summary {
  width: 200px;
  border-width: $timeline-h-summary-size-line;
  
  .timeline-step-label {
    margin-bottom: $timeline-h-summary-label-distance;
  }

  .timeline-step-title {
    padding: $timeline-h-summary-title-distance 0 0;
    font-size: $timeline-h-summary-title-size-font;
    font-weight: bold;
  }

  .timeline-step-marker {
    width: $timeline-h-summary-size-step;
    height: $timeline-h-summary-size-step;
    margin-left: -$timeline-h-summary-size-step/2;

    border-width: $timeline-h-summary-size-border;

    text-indent: -999em;

    box-shadow: 0 0 0 $timeline-h-summary-size-boxShadow #fff;

    top: -($timeline-h-summary-size-step/2)-($timeline-h-summary-size-line/2);
  }
}